html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

body {
  background-size: cover;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 100%;
  background-color: #000;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.searchClass .logo {
  height: 400px;
  padding-top: 5%;
}

.results {
  background: #000;
  opacity: 0.8;
  position: relative;
  height: 110%;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
	overflow: scroll;
}

.error_message {
  position: fixed;
  margin-top:240px;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  z-index: 9003;
  opacity: 0;
}

.s-bar .logo_wide {
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9002;
  opacity: 0;
}

.searchClass {
  text-align: center;
  position: relative;
  overflow: hidden;
	height: 100%;
}

.s-bar {
  top: 500px;
  position: fixed;
  width: 40%;
  margin: 0 30%;
  padding: 0.5em 0em 0.5em 0em;
  z-index: 9001;
}

.s-bar input[type="text"] {
  text-align: left;
  font-size: 1em;
  font-weight: 6;
  color: #fff;
  padding: 1.3em 1em 1.3em 1.5em;
  width: 70%;
  text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px; 
  border-radius: 5px 0px 0px 5px;
 -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.9);
  outline: none;
  -webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1000;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
	font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	display: inline-block;
  text-align: center;
  border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  margin: 0px 0px 0px -5px;
	color: white;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #FF4444 repeat-x scroll 0 0;
	border-style: none;
	overflow: visible;
  height: 64px;
  width: 100px;
  position: relative;
  top: -1px;
}

.searchClass i {
  background: url(../images/searchClass.png)no-repeat;
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 20%;
  left: 29.2%;
  cursor: pointer;
}

.searchClass a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  position: relative;
}

.s-bar .alignleft {
	float: left;
	padding: 0 0 0 30px;
}

.s-bar .alignright {
	float: right;
	padding: 0 30px 0 0;
}

.searchClass img {
  position: relative;
  height: 40px;
  padding: 0 0 0 5px;
}

/*--table styles start here--*/
div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  font-family: Tahoma, Geneva, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 1000px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

td.city {
  text-align: left;
}

td.state {
  text-align: right;
}
/*--table styles end here--*/

/*--media queries start here--*/
@media(max-width:1366px){
}

@media(max-width:1280px){
  .s-bar input[type="text"] {
    width: 63%;
  }
  .searchClass i {
    left: 30.2%;
  }
}

@media(max-width:1024px){
  .s-bar {
    width: 60%;
    margin: 0 20%;
  }
  .s-bar .logo_wide {
    display: none !important;
  }
}

@media(max-width:768px){
  .s-bar {
    width: 80%;
    margin: 0 10%;
  }
  .searchClass i {
    left: 19.5%;
  }
  .s-bar input[type="text"] {
    width: 67%;
  }
}

@media(max-width:667px){
  .searchClass i {
    left: 100%;
  }
}

@media(max-width:600px){
  .searchClass i {
    left: 14.5%;
  }	
}

@media(max-width:568px){
  .s-bar input[type="text"] {
    width: 64%;
  }	
  .s-bar .alignleft {
    display: none;
  }
  .s-bar .alignright{
    display: none;
  }
  .s-bar input[type="text"] {
    width: 65%;
    font-size: 0.8em;	
  }
  .searchClass i {
    top: 17%;
  }
  button {
    width: 60px;
    height: 53px;
    top: .5px;
  }
  .fullscreen-bg__video {
    width: 500% !important;
    left: -150% !important;
  }
}

@media(max-width:414px){
  .searchClass i {
    top: 16%;
    left: 13.5%;
  }	
  .s-bar {
    width: 100%;
    margin: 0 0%;
  }
}

@media(max-width:320px){
  .s-bar {
    width: 100%;
  }
  .searchClass i {
    left: 43%;
    top: -36%;
  }
  .searchClass p {
    font-size: 0.72em;
  }
}

@media(max-height: 638px) {
  .s-bar {
    top: 400px;
  }
  .searchClass .logo {
    height: 300px;
    padding-top: 10%;
  }
  .s-bar .alignleft {
    display: none;
  }
  .s-bar .alignright{
    display: none;
  }
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
  .searchClass .logo {
    padding-top: 5%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
/*--media queries end here--*/
